* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body{
    background: #f5f7fa;
    padding-left: 20px;
    font-family: Montserrat;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.wrapper{
    background: white;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
.sidebar{
    background: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.image{
    width: 370px;
    margin-top: 40px;
}
.main-container{
    padding-top: 110px;
    padding-bottom: 110px;
    padding-right: 90px;
    padding-left: 90px;
}
.contacts-container{
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}
.contacts-title{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    margin-bottom: 20px;
}
.contacts-abb{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    margin-right: 10px;
}
.contacts-link{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    opacity: 0.5;

    
}
.tech-skills-title{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    margin-bottom: 20px;
}
.tech-skills-container{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}
.tech-skills-item{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ff6b08;
    margin-left: 15px;
}
.tech-skills-text{
    color: #bcbfc4;
}
.soft-skills-title{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    margin-bottom: 20px;
}
.soft-skills-container{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}
.job-title{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 23px;
}
.name{
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
}
.description{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
}
.achievements{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 10px;
}
.info-container{
    margin-bottom: 65px;
}
.projects{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 10px;
    margin-top: 24px;
}
.project-link{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}
.techname{
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.dots{
    color: #a8a8a8;
    font-weight: 400;

}
.number{
    font-weight: 400;
    margin-left: 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}
.project-main{
    margin-bottom: 55px;
}
.profession{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
    margin-top: 8px;
    }
.profession-second{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 10px;
    margin-top: 8px;
    }
.job-type{
    color: #ff6b08;
}
.job-time{
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #a8a8a8;
}
.divider{
    color: #000;
}
.responsibility{
    margin-top: 14px;
    margin-bottom: 30px;
    margin-left: 20px;
    
}
.achievement-title{
    margin-top: 14px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-weight: 400;
    
}
.duty{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}
.uni{
    color: #ff6b08;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}
.education{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}
